<div style="padding:40px 0">&nbsp;</div>
<div id="bottomNav" class="container-fluid fixed-bottom">
    <div class="row">
        <div class="col text-center"><a href="/" class="<$= menu == 'place' ? 'on': '' $>"><i class="fas fa-search"></i></a></div>
        <div class="col text-center"><a><i class="fas fa-heart"></i></a></div>
        <div class="col text-center"><a><i class="fas fa-route"></i></a></div>
        <div class="col text-center"><a href="/profile/login" class="<$= menu == 'profile' ? 'on': '' $>"><i class="fas fa-user-alt"></i></a></div>
    </div>
</div>