<$ include ../shared/header $>
<link rel="stylesheet" href="/css/profile.css" />

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-5 login-btn-area">
            <p>로그인 후 여행을 계획해보세요.</p>
            <div class="float-left ml-2 mt-3">
                <a href="/place/intro?login=y" class="btn" style="background-color: #ff0000;"><i class="fab fa-google"></i></a>
                <small class="text-center">구글</small>
            </div>
            <div class="float-left ml-5 mt-3">
                <a href="/place/intro?login=y" href="" class="btn" style="background-color: #FAE100; color: #3B1E1E;"><i class="fas fa-comment"></i></a>
                <small class="text-center">카카오</small>
            </div>
            <div class="float-left ml-5 mt-3">
                <a href="/place/intro?login=y" href="" class="btn" style="background-color: #19CE60;">N</a>
                <small class="text-center">네이버</small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-5">
            <a href="#" class="text-dark ml-3">루트래블 계정이 없으신가요? 회원가입</a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col mt-5">
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-4">설정</li>
                <li class="list-group-item p-4">고객센터</li>
                <li class="list-group-item p-4">서비스약관</li>
              </ul>
        </div>
    </div>
</div>
<$ include ../shared/bottomNav $>
<$ include ../shared/footer $>